.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.rightbar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    //background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    //background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidebar div{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}

.rightbar form input{
    margin: 6px 8px 6px 16px;
}   


.sidebar h1 , .rightbar h1{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
  }

img {
    object-fit: contain;
    width: 400px;
    height: 400px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
}

.content {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-right: 300px;
}


.footer {
    bottom: 0;
    left:0;
    right:0;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    width: 30%;
}

.leaderboard-container {
	width: 350px;
	height: auto;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
    text-align: center;
	overflow: hidden;
}

/* leaderboard */
.leaderboard {
	//background: linear-gradient(to bottom, #3a404d, #181c26);
    text-align: left;
    
}

/* head */
.leaderboard .head {
	padding: 20px 16px;
	font-size: 20px;
	text-align: center;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

/* body */
.leaderboard .body {
	font-size: 16px;
}
.leaderboard ol {
	counter-reset: number; /* 定義和初始化計數器 */
}
.leaderboard li {
    color: rgb(4, 11, 36);
	padding: 16px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
    color: rgb(4, 11, 36);
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; /* 遞增計數器 */
	content: counter(number) "."; /* 顯示計數器 */
	margin-right: 4px;
}
.leaderboard li:nth-child(1) {
	background: #388BFD;
}
.leaderboard li:nth-child(2) {
	background: #2d76cf;
}
.leaderboard li:nth-child(3) {
	background: #2a61a2;
}
.leaderboard li:nth-child(4) {
	background: #294d77;
}
.leaderboard li:nth-child(5) {
	background: #27384e;
}